//---- HEADER ----
header {
    .tapbar {
        position: fixed;
        left: 10px;
        bottom: 10px;
        width: calc(100vw - 20px);
        display: flex;
        z-index: 5;
        background-color: gray;
        border-radius: 0.5cm;
        justify-content: space-evenly;

        .icon {
            width: 30px;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
        }

        .label {
            text-decoration: none;
            color: white;
        }


    }

    nav {
        background-color: gray;
        display: flex;
        width: 99vw;
        justify-content: space-around;

        img {
            width: 150px;
        }

        .listado {
            display: flex;
            list-style: none;
            background-color: green;
            border-radius: 0.5cm;
            width: 70vw;
            align-items: center;
            justify-content: space-evenly;
        }

        li {
            padding: 0 1rem;
            background-color: #A9E190;
            border-radius: 0.2cm;
        }

        a {
            color: black;
            text-decoration: none;
        }
    }
}

/* Para cambiar algo en MOBILE */
@media (max-width: 600px) {
    header {
        div {
            display: inline;
        }

        nav {
            background-color: gray;
            .listado{
                display: none;
            }
        }
    }
}

/* Para que cambie en desktop */
@media (min-width: 700px) {
    header {
        .tapbar {
            display: none;
        }

        .listado {
            display: inline-flex;
        }

        ul {
            display: flex;
            margin: 2px 5px 2px 150px;
        }

    }
}