.plkmain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "plk"
        "rsp"
    ;

    .plk {
        grid-area: plk;
        background-color: green;
        margin: 5px;
        border-radius: 0.5cm;
        color: white;

        h1 {
            font-weight: bold;
            text-align: center;
            margin: 5px;

        }

        .linea-plk {
            display: none;
            border-bottom: 10px solid white;
            transform: skewX(-20deg) skewY(0deg);
            scale: 0.3;
            translate: -150px;
        }

        h2 {
            margin: 10px 30px 30px 30px;
        }

        .plk-fabrica {
            display: none;
        }
    }

    .video {
        grid-area: video;
        display: none;

    }

    .rsp {
        grid-area: rsp;
        background-color: green;
        margin: 5px;
        margin-bottom: 30px;
        border-radius: 0.5cm;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-weight: bold;
            font-size: 30px;
            margin: 5px;
            text-align: center;
        }

        h3 {
            margin: 10px 30px 30px 30px;
        }

        a {
            margin: 10px 30px 30px 30px;
            color: white;
            display: flex;
        }

        img {
            grid-area: rsplogo;
            width: 50vw;
            margin: 10px;
        }



    }




}





@media(min-width: 700px) {
    .plkmain {
        background-image: linear-gradient(to left, rgba(10, 218, 121, 0.747), gray);
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        grid-template-rows: 0.5fr 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "plk video"
            "plk rsp"
        ;

        .plk {
            grid-area: plk;
            background-color: green;
            margin: 5px;
            border-radius: 0.5cm;
            color: white;
            display: flex;
            flex-direction: column;

            h1 {
                font-weight: bold;
                font-size: 80px;
                margin: 30px 50px 10px 50px;
            }

            .linea-plk {
                display: inline;
                border-bottom: 10px solid white;
                transform: skewX(-20deg) skewY(0deg);
                scale: 0.3;
                translate: -160px;
            }

            h2 {
                font-size: 20px;
                margin: 10px 50px 50px 50px;
            }

            .plk-fabrica {
                display: inline;
                height: 270px;
                width: 30vw;

                margin: 0px 30px 30px 30px;
                border-radius: 0.2cm;
            }
        }

        .video {
            grid-area: video;
            display: flex;
            flex-direction: row-reverse;
            width: 65vw;
            margin: 10px;
            align-items: center;
        }

        .rsp {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "rsptext rsplogo";
            grid-area: rsp;
            align-items: center;
            justify-items: center;

            .rsptext {
                grid-area: rsptext;


                h2 {
                    font-weight: bold;
                    font-size: 35px;
                    margin: 10px;
                    text-align: start;
                }

                h3 {
                    font-size: 20px;
                    margin: 20px 10px ;
                    margin-top: 30px;
                }

                a {
                    font-size: 20px;
                    margin: 10px ;
                    margin-top: 90px;
                    color: white;
                }



            }

            img {
                grid-area: rsplogo;
                width: 20vw;
            }

        }


    }
}