.serviciostit {
    text-align: center;
    font-weight: bold;
    background-color: #cdc776;
    border-radius: 0.5cm;
    margin-top: 5px;
    height: 3rem;
}

.servicios {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 20px;

}


@media (min-width: 700px) {
    .servicios {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "uno cinco"
            "dos seis"
            "tres foto"
            "cuatro foto"
        ;
        list-style: none;
        margin: 10px;
        padding: 20px;

        .uno {
            grid-area: uno;

        }

        .dos {
            grid-area: dos;
        }

        .tres {
            grid-area: tres;
        }

        .cuatro {
            grid-area: cuatro;
        }

        .cinco {
            grid-area: cinco;
        }

        .seis {
            grid-area: seis;
        }
    }
}